.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url('./image/background.jpg');

  svg{
    width: 800px;
    g{
      fill: red;

    }
  }

  img{
    width: 100px;
    display: block;
    margin: auto;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(26, 40, 120, 0.70), rgba(10, 143, 196, 0.70));
  }

  .wrap{
    position: relative;
    z-index: 1;
  }
}


