.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;


  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url('./image/newBackground.jpg');

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(10, 143, 196, 0.70), rgba(26, 40, 120, 0.70) );
  }

  .welcomeWrap{
    color: white;
    z-index: 1;
  }

  .welcomeHeader{
    font-size: 60px;
  }

  .welcomeParagraph{
    font-size: 24px;
  }

  .welcomeInput{
    width: 400px;
    height: 60px;
    padding: 10px 50px;
    font-size: 24px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-width: 0;
  }

  .welcomeButton{
    height: 84px;
    width: 100px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #1e346e;
    font-size: 24px;
    color: white;
    border-width: 0;
  }


}


.displayNone{
  display: none ;
}
